#qs {
    margin-top: 5em;
    text-align: center;
}

#as {
    text-align: center;
    margin-top: 10em;
}

#container {
    margin-top: 5px;
    min-width: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ateam {
      margin-right: 150px;
      margin-top: 30px;
  }

  #bteam {
    margin-left: 150px;
    margin-top: 30px;
}



#wager {
    margin-top: 30px;
    height: 100px;
    width: 200px;
    background-color: royalblue;
    color: white;
}

#buttonz {
    margin-bottom: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }

/*welcome modal */
.modal {
    display: none; /* Hidden by default */
   /* position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 40px; 
    height: 40px; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #myModal {
      padding: 100px 400px 100px 400px;
  }
  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    justify-content: center
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  h1 {
      text-align: center;
  }

  #question {
      font-size: 20px;
      font-weight: bold;
  }

  /*wrong modal*/
  .wrongmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .wrong-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .wrongclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .wrongclose:hover,
  .wrongclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*error modal*/
  .errormodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .error-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .errorclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .errorclose:hover,
  .errorclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*correct modal*/
  .correctmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .correct-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .correctclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .correctclose:hover,
  .correctclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*a turn modal*/
  .aturnmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .aturn-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .aturnclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .aturnclose:hover,
  .aturnclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*b turn modal*/
  .bturnmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .bturn-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .bturnclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .bturnclose:hover,
  .bturnclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #reset {
      margin-left: 650px;
  }

  /*A wins modal*/
  .awinsmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .awins-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .awinsclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .awinsclose:hover,
  .awinsclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*B wins modal*/
  .bwinsmodal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 0; /* Location of the box */
    /* left: 0;
    top: 0; */
    width: 100%; 
    height: 100%; 
    margin: 0 auto;
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); Black w/ opacity*/
    background-color: rgba(255, 255, 255, .6);
    margin-top: 0;
  }

  
  /* Modal Content */
  .bwins-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    height: 200px;
    width: 400px;
  }
  
  /* The Close Button */
  .bwinsclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .bwinsclose:hover,
  .bwinsclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
