#qs {
    margin-top: 5em;
    text-align: center;
}

#as {
    text-align: center;
    margin-top: 10em;
}

#container {
    margin-top: 5px;
    min-width: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ateam {
      margin-right: 150px;
      margin-top: 30px;
  }

  #bteam {
    margin-left: 150px;
    margin-top: 30px;
}

#invisible {
    font-size: 200px;
    position: relative;
    margin: 0 auto;
    color: red;
}

#wager {
    margin-top: 30px;
    height: 100px;
    width: 200px;
    background-color: royalblue;
    color: white;
}

#buttonz {
    margin-bottom: 30px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }
